.o-settings{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
}

.c-input{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0.7rem 1rem 0;
}

.c-input label{
	width: 30%
}

.c-input span{
	width: 20%
}

.c-input input{
	width: 45%
}

.u-center{
	margin: 0 auto;
}

.u-note{
	font-size: 0.7rem;
	padding: 0 1rem;
}